---
---

<div>
  <p>Here are a few topics I will post about:</p>
  <ul class="mt-5">
    <li>
      <strong>web-development</strong>
      Since I'm a full-stack developer, I'll post about front-end, back-end, and
      infrastructure as well.
    </li>
    <li>
      <strong>LeetCode</strong>
      I'll post my solutions to LeetCode problems.
    </li>
    <li>
      <strong>Life</strong>
      I'm living and working in Japan 🇯🇵. However, I'll move to Vancouver from next
      year, so I'll post about the life there..
    </li>
  </ul>
</div>
