---
const { categories, hasBorder } = Astro.props;
---

{
  hasBorder ? (
    <div class="flex flex-wrap gap-2 mt-2 md:mt-0">
      {categories.map((category: string) => (
        <a
          href={`/blog/category/${category}`}
          class="rounded-full text-xs border hover:font-bold border-gray-400 py-1 px-2 hover:bg-primary-blue transition-transform duration-300 ease-in-out transform hover:-translate-y-1 unset"
        >
          {category}
        </a>
      ))}
    </div>
  ) : (
    <div class="flex flex-wrap mt-2 md:mt-0 mb-2 -ml-2">
      {categories.map((category: string) => (
        <a
          href={`/blog/category/${category}`}
          class="rounded-full hover:font-bold border-gray-400 px-2 transition-transform duration-300 ease-in-out transform hover:-translate-y-1 unset"
        >
          {category}
        </a>
      ))}
    </div>
  )
}
