<section class="mb-8">
  <div class="mb-6">
    <h1
      class="font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
    >
      <span
        class="bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%] from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue"
      >
        Kia ora.
      </span>
    </h1>
  </div>
  <div>
    <p class="mb-5">
      Hi there! This is
      <a
        href={"https://sophisticated-portfolio-2ihfqvxz4-yutounun.vercel.app/home"}
        target="_blank">Yuto</a
      >. I'm a frontend / full-stack developer with 3 years of experience.
      <p>
        The main tech stack includes Javasciprt, Typescript, React, Vue,
        Next.js, Nuxt.js, Python, FastAPI, and AWS.
      </p>
      This blog utilizes
      <a href={"https://astro.build/"} target="_blank">Astro</a>
      that is the talk of the dev world.
    </p>
  </div>
  <img src="/images/robin.png" alt="" class="h-40 w-40 mx-auto my-10" />
</section>
